/* frontend/src/pages/DashboardPage.css */

.dashboard-container {
  max-width: 800px;
  background: rgba(249, 243, 243, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 40px auto;
  padding: 25px 30px;
  text-align: center;
  font-family: "Roboto", sans-serif; /* Usando a fonte Roboto que adicionamos ao index.html */
}

.dashboard-title {
  color: #ced7e0;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 500;
}

.dashboard-welcome-message {
  font-size: 18px;
  color: #ced7e0; /* Um cinza azulado */
  margin-bottom: 10px;
}

.dashboard-info {
  font-size: 16px;
  color: #7f8c8d; /* Um cinza mais claro */
  margin-bottom: 25px;
}

.dashboard-user-details {
  background-color: #f8f9fa;
  border: 1px dashed #ced4da;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  text-align: left;
}

.dashboard-user-details p {
  margin: 8px 0;
  font-size: 15px;
  color: #495057;
}

.dashboard-user-details strong {
  color: #343a40;
}

.dashboard-logout-button {
  padding: 12px 25px;
  background-color: #e74c3c; /* Vermelho para logout */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.dashboard-logout-button:hover {
  background-color: #c0392b; /* Vermelho mais escuro no hover */
}
